<!DOCTYPE html>
<html>
  <head>
    <title>IIIT Contact Directory</title>
    <link rel="stylesheet" type="text/css" href="../static/directory.css">
    <link rel="icon" type="image/png" href="../static/favicon2.jpg">
  </head>
  <body>
    <header>
        <h1>IIIT Contact Directory</h1>
        <nav>
          <ul>
            <li><a href="directory_home.html">Home</a></li>
            <li><a href="directory_student.html">Student Directory</a></li>
            <li><a href="directory_faculty.html">Faculty Directory</a></li>
          </ul>
        </nav>
      </header>
        <h2>Faculty Directory</h2>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Department</th>
              <th>Office Hours</th>
            </tr>
          </thead>
          <tbody>
            {% for row in faculty_data %}
            <tr>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </main>
      
      <footer>
        <p>2023 IIIT Contact Directory</p>
        <p>&copy; International Institute of Information Technology, Hyderabad</p>
      </footer>      
    
    <script src="script.js"></script>
  </body>
</html>
