<!DOCTYPE html>
<html>
  <head>
    <title>IIIT Contact Directory</title>
    <link rel="stylesheet" type="text/css" href="../static/directory_home.css">
  </head>
  <body>
    <header>
      <img >
      <h1 style="font-size: 50px; font-weight: bold; text-decoration: underline;">IIIT Contact Directory</h1>
    </header>
    <main>
      <div class="login-options">
          <a href="{{ url_for('directory_student1') }}" class="login-option student">
              <span class="icon"><i class="fas fa-user-graduate"></i></span>
              <span class="label">Student Directory</span>
          </a>
          <a href="{{ url_for('directory_faculty1') }}" class="login-option faculty">
              <span class="icon"><i class="fas fa-chalkboard-teacher"></i></span>
              <span class="label">Faculty Directory</span>
          </a>
      </div>
  </main>
  
      
    
    <footer>
        <p>2023 IIIT Contact Directory</p>
        <p>&copy; International Institute of Information Technology, Hyderabad</p>
      </footer>

    <script src="https://kit.fontawesome.com/1234567890.js" crossorigin="anonymous"></script>
  </body>
</html>