<!DOCTYPE html>
<html>
  <head>
    <title>IIIT Student Directory</title>
    <link rel="stylesheet" type="text/css" href="../static/directory2.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon1.jpg" style="border-radius: 50%;">

  </head>
  <body>
    <header>
        <h1>IIIT Student Directory</h1>
      </header>
        
      <main>
        <h2 align="center">Student Directory</h2>
        <div class="button-container" align="center">
            <button id="add-student-button" class="cssbuttons-io-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                </svg>
                <span style="padding-left: 20px;">Add</span>
              </button>
          </div>
          <br><br>
        <table>  
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Roll Number</th>
              <th>Branch</th>
              <th>Batch</th>
            </tr>
          </thead>
          <tbody>
            {% for row in student_data %}
            <tr>
              <td>{{ row[5] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[0] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td align="center" style="text-align: center;">
                <button class="remove-button" style="border-radius:10px" data-rollno="{{ row[0] }}">
                  <span class="text">Remove</span>
                  <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
                    </svg>
                  </span>
                </button>
              </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </main>
      
      <footer>
        <p>2023 IIIT Contact Directory</p>
        <p>&copy; International Institute of Information Technology, Hyderabad</p>
      </footer>  
      <script src="../static/directory_student.js"></script>    
    </body>
</html>