<!DOCTYPE html>
<html>

<head>
  <title>IIIT Contact Directory</title>
  <link rel="stylesheet" type="text/css" href="../static/directory_home.css">
  <link rel="icon" type="image/x-icon" href="../static/favicon1.jpg" style="border-radius: 50%;">

</head>

<body>
  <header>
    <img>
    <h1 style="font-size: 50px; font-weight: bold; text-decoration: underline;">IIIT Contact Directory</h1>
  </header>
  <form method="get" action="/change" >
    <button style="height: 50px; width: 100px;float: right;">Change Password</button>
</form>
  <main>
    <div class="login-options">
      <a href="{{ url_for('directory_student1') }}" class="login-option student">
        <span class="icon"><i class="fas fa-user-graduate"></i></span>
        <span class="label">Student Directory</span>
      </a>
      <a href="{{ url_for('directory_faculty1') }}" class="login-option faculty1">
        <span class="icon"><i class="fas fa-chalkboard-teacher"></i></span>
        <span class="label">Faculty Directory</span>
      </a>
      <a href="{{ url_for('search_student') }}" class="login-option faculty2">
        <span class="icon"><i class="fas fa-chalkboard-teacher"></i></span>
        <span class="label">Search Student</span>


        <a href="{{ url_for('search_faculty') }}" class="login-option faculty2">
          <span class="icon"><i class="fas fa-chalkboard-teacher"></i></span>
          <span class="label">Search Faculty</span>
        </a>
      </a>
    </div>
  </main>



  <footer>
    <p>2023 IIIT Contact Directory</p>
    <p>&copy; International Institute of Information Technology, Hyderabad</p>
  </footer>

  <script src="https://kit.fontawesome.com/1234567890.js" crossorigin="anonymous"></script>
</body>

</html>


/home/vaishnavi/Desktop/FINAL/hackathon-final_2/templates/directory_home1.html