*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  /* background-color: #f5f5f5; */
  background-size: cover;
  background-attachment: fixed;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("directory_home_bg2.jpg");
  filter: brightness(0.5);
  z-index: -1;
  background-size: 100% 100%; /* set the background size to cover the entire area without repeating */
}

h1, h2, h3 {
  font-weight: normal;
  margin-bottom: 20px;
}

a {
  color: #003366;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Header styles */
header {
  background-color: #393737;
  color: white;
  padding: 20px;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

nav ul {
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  font-size: 18px;
  font-weight: bold;
}

/* Main content styles */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card {
width: 40%;
height: 50%;
padding: 1.9rem 1.2rem;
text-align: center;
background: #2a2b38;
margin-left: 30%;
margin-top: 150px;
margin-bottom: 100px;
border-radius: 10px;
border: 1px solid black;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
/* position:50% 0%; */
}

/*Inputs*/
.field {
margin-top: .5rem;
padding-top: 20px;
padding-bottom: 20px;
display: flex;
/* align-items: center; */
justify-content: center;
gap: .5em;
background-color: #1f2029;
border-radius: 4px;
/* padding: .5em .5em; */
}

.input-icon {
height: 20px;
width: 20px;
fill: #bcffa7;
margin-left: 15px;
}

input {
border: none;
outline: none;
width: 85%;
height: 30px;
margin-right: 20px;
}

/*Text*/
.title {
margin-bottom: 1rem;
font-size: 30px;
font-weight: 500;
color: #f5f5f5;
}

/*Buttons*/
.btn {
margin: 1rem;
border: none;
border-radius: 4px;
font-weight: bold;
font-size: .8em;
text-transform: uppercase;
padding: 0.6em 1.2em;
margin-top: 20px;
background-color: #a7ffb0;
color: #5e6681;
box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
transition: all .3s ease-in-out;
width: 100px;
height: 50px;
/* margin-top: 5px; */
}

.btn-link {
color: #f5f5f5;
display: block;
font-size: 20px;
transition: color .3s ease-out;
}

/*Hover & focus*/
.field input:focus::placeholder {
opacity: 0;
transition: opacity .3s;
}

.btn:hover {
background-color: #58ae67;
color: #abffa7;
box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}

.btn-link:hover {
color: #ffa7a7;
}



table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #003366;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tfoot {
  font-weight: bold;
}

/* Footer styles */
/* footer {
  background-color: #393737;
  color: white;
  text-align: center;
  padding: 10px;
  background-position-y: -0;
} */

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 32px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
}