body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url("searchbg1.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;
}
#form {
max-width: 600px;
margin: auto;
background-color: #757575;
padding: 20px;
border-radius: 20px;
margin-bottom: 150px;
}
body {
    background-color: #a0b8c5;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    margin-top: 30px;
}

label {
display: block;
margin-bottom: 10px;
font-size: 18px;
font-weight: bold;
}

input[type=text], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
font-size: 16px;
}

input[type=submit] {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin-top: 20px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 18px;
}

input[type=submit]:hover {
background-color: #45a049;
}

.search-results {
    margin-top: 2rem;
}
table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 6%;
    /* margin-bottom: 50px; */


}
th, td {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ddd;
    /* border-radius: 10px; */
}
th {
    background-color:  rgb(43, 43, 43);
    color: #fff;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #dadddd;
}


@media (max-width: 600px) {
   body{
    overflow-x: scroll;
   }
   table{
    margin-left: 0;
   }
}


footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 20px;
position: relative;
/* bottom: 0; */
width: 100%;
/* margin-top: 300px; */
margin-top: 670px;
}

footer p {
margin: 0;
font-size: 14px;
}